[Desktop Entry]
Name=OCR for scanned PDF
Name[bg]=OCR за сканиран PDF
Name[cs]=OCR pro naskenované PDF
Name[da]=OCR for scannet PDF
Name[de]=OCR für gescanntes PDF
Name[el]=OCR για σαρωμένο PDF
Name[es]=OCR para PDF escaneado
Name[et]=Optilise tekstituvastus skannitud PDF-faili jaoks
Name[fi]=OCR skannattua PDF-tiedostoa varten
Name[fr]=OCR pour PDF numérisé
Name[he]=זיהוי תווים אופטי (OCR) למסמך PDF סרוק
Name[hr]=OCR za skenirani PDF
Name[hu]=OCR a beszkennelt PDF-hez
Name[is]=OCR fyrir skannað PDF
Name[it]=OCR per PDF scansionati
Name[ja]=スキャンしたPDFのOCR
Name[ko]=스캔 한 PDF에 대한 OCR
Name[nl]=OCR voor gescande PDF
Name[no]=OCR for skannet PDF
Name[pl]=OCR dla zeskanowanego pliku PDF
Name[pt]=OCR para PDF digitalizado
Name[ro]=OCR pentru PDF scanat
Name[ru]=OCR для отсканированных PDF
Name[sk]=OCR pre naskenované PDF
Name[sv]=OCR för skannad PDF
Name[tr]=Taranmış PDF için OCR
Name[uk]=Розпізнавання для відсканованого PDF-файлу
Name[zh]=扫描的 PDF 的 OCR

Exec=bigocrpdf-open
Terminal=false
Icon=/usr/share/bigbashview/bcc/apps/bigocrpdf/icon-big-ocr-pdf.svg
Type=Application
NoDisplay=false
MimeType=
Categories=Utility;
