[Desktop Entry]
Name=OCR to scanned PDF
Name[pt]=OCR para PDF digitalizado
Name[es]=OCR a PDF escaneado
Exec=bigocrpdf-open
Terminal=false
Icon=/usr/share/bigbashview/bcc/apps/bigocrpdf/icon-big-ocr-pdf.svg
Type=Application
NoDisplay=false
MimeType=
Categories=Utility;
