[Desktop Entry]
Name=Extract text from image (OCR)
Name[bg]=Извличане на текст на изображение (OCR)
Name[cs]=Extrahovat text obrázku (OCR)
Name[da]=Uddrag billedtekst (OCR)
Name[de]=Extrahieren von Bildtext (OCR)
Name[el]=Εξαγωγή κειμένου εικόνας (OCR)
Name[es]=Extraer texto de imagen (OCR)
Name[et]=Pildi teksti ekstraktimine (OCR)
Name[fi]=Kuvan tekstin purkaminen (OCR)
Name[fr]=Extraire le texte de l’image (OCR)
Name[he]=חילוץ טקסט תמונה (OCR)
Name[hr]=Izdvajanje slikovnog teksta (OCR)
Name[hu]=Képszöveg kinyerése (OCR)
Name[is]=Dragðu út mynd texta (OCR)
Name[it]=Estrarre il testo dell'immagine (OCR)
Name[ja]=画像テキストの抽出 (OCR)
Name[ko]=이미지 텍스트 추출(OCR)
Name[nl]=Afbeeldingstekst (OCR) extraheren
Name[no]=Trekke ut bildetekst (OCR)
Name[pl]=Wyodrębnianie tekstu obrazu (OCR)
Name[pt]=Extrair o texto da imagem (OCR)
Name[ro]=Extragerea textului imaginii (OCR)
Name[ru]=Извлечение текста изображения (OCR)
Name[sk]=Extrahovanie textu obrázka (OCR)
Name[sv]=Extrahera bildtext (OCR)
Name[tr]=Görüntü metnini ayıklama (OCR)
Name[uk]=Видобування тексту зображення (OCR)
Name[zh]=提取图像文本 （OCR）

Exec=bigocrimage %f
Terminal=false
Icon=/usr/share/bigbashview/bcc/apps/bigocrpdf/icons-mini-big-ocr-pdf.svg
Type=Application
NoDisplay=true
MimeType=inode/directory;image/avif;image/gif;image/heif;image/jpeg;image/jxl;image/png;image/bmp;image/x-eps;image/x-icns;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/tiff;image/x-psd;image/x-webp;image/webp;image/x-tga;application/x-krita;image/x-kde-raw;image/x-canon-cr2;image/x-canon-crw;image/x-kodak-dcr;image/x-adobe-dng;image/x-kodak-k25;image/x-kodak-kdc;image/x-minolta-mrw;image/x-nikon-nef;image/x-olympus-orf;image/x-pentax-pef;image/x-fuji-raf;image/x-panasonic-rw;image/x-sony-sr2;image/x-sony-srf;image/x-sigma-x3f;image/x-sony-arw;image/x-panasonic-rw2;
